* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-width: 0;
    outline: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background: url(../images/blissful.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{
    margin: 0;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    color:white
}

#loginForm {
    height: 100%;
    width: 40%;
    background-color: #2c6bbdf3;
    margin: 0;
    position: absolute;

    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

#loginForm form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
}

input{
    border: solid white;
    margin: 3vh;
    font-size: 2.5vh;
    width: auto;
}

input[type="submit"] {
    margin-top: 5vh;
    height: 3.5vh;
    width: 30%;
    border: hidden;
    border-radius: 0.4vh; 
}

input[type="text"] {
    width: 55%;
    height: 7vh;
    text-indent: 1.6vh;
    border-radius: 0.2vh;
}

#loginBtn{
    height: 6vh;
    width: 12vh;
    font-size: 2.5vh;
    padding: 0.5vh 1.5vh;
    border: solid white 0.5vh;
}