*{
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../images/blissful.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{
    margin: 0;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white
}

#sign-up{
    height: 100%;
    width: 40%;
    color: white;
    background-color: #2c6bbdf3;
    margin: 0px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#username, #password{
    margin-top:10px;
}