*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
}

html { 
    overflow: hidden;
}

body{
    color: white;
    background: url(../images/blissful.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1{
    text-align: center;
    margin-top: 42px;
    margin-bottom: 24px;
}

button{
    background-color: lightgray;
    padding: 50px;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius:10px;
    font-size: 40px;
    text-decoration: none;
    color: darkslategray;
}

button:hover{
    cursor: pointer;
}

.notFlex
{
    width:600px;
    margin-left:50px;
}

.flex
{
    display:flex;
    justify-content: space-between;
}

.tableHolder
{
    margin-right:400px;
    width:358px;
}

table
{
    margin-top: 74px;
}

table, th, td
{
    background-color: white;
    border: 1px solid black;
    color:black;
    border-collapse: collapse;
}

th, td
{
    padding: 10px;
}

#profileDropdown {
    background-color: #04AA6D;
    color: black;
    height: 120px;
    width: 120px;
    border-radius: 15%;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: center;
    right: 15px;
    top: 15px;
  }

#avatarDrop{
    position: relative;
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 25%;
  }

#dropdownContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

#profileDropdown:hover #dropdownContent{
    display: block;
}

#profileDropdown:hover #avatarDrop {
    background-color: #3e8e41;
}